- if logged_in?
  %p
    = "You have #{current_user.votes_remaining} likes to give"

%ul
  - @features.each do |feature|
    %li
      - if logged_in?
        = button_to "Like", like_path(feature.id), :disabled => !current_user.can_vote?
        = button_to "Unlike", unlike_path(feature.id), method: :delete, :disabled => !current_user.voted_for?(feature)
      = feature.title
      = "(#{feature.vote_count})"
