- if logged_in?
  %p
    = "You have #{current_user.votes_remaining} likes to give"

%ul
  - @features.each do |feature|
    %li
      - if logged_in?
        - if current_user.can_vote?
          = button_to "Like", { controller: 'votes', action: 'create', feature_id: feature.id }
        - if current_user.voted_for?(feature)
          = button_to "Unlike", { controller: 'votes', action: 'destroy', feature_id: feature.id }, method: :delete
      = feature.title
      = "(#{feature.vote_count})"
