!!!
%html
  %head
    %title Tasklist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if logged_in?
      %p
        = "Logged in as #{current_user.name}"
        = link_to 'Log out', logout_path
    - else
      = link_to 'Log in', login_path
      = link_to 'Register', register_path
    %ul.nav
      %li
        = link_to_unless_current 'Home', root_path
      %li
        = link_to_unless_current 'Features', '/features'
      %li
        = link_to_unless_current 'About', '/about'
      %li
        = link_to_unless_current 'Contact', '/contact'
    = yield
